<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosDb:Endpoint" value="https://will-test-01.documents.azure.com:443/" />
    <add key="CosmosDb:Key" value="UJFr94jOOLnukHwWZd4VFJwJdLqBZTfXsuxIPECXoFXdcZBgQU25IF51EdwTkOfxiTroSHNJlz5SX2IG3xWx6g==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>